{% extends 'main/base.html' %}
{% block content %}
    <div class="container">
    <div class="row">
      <div class="col-xl-12">
          <div class="col-12 listings-container compact-list-layout" style="margin:90px 0">
            <h6>Welcome to form page </h6>
            <h6>Fill out the form</h6>
            <form method="post">
                {{ form.as_p }}
                {% csrf_token %}
                <input type="submit" class="btm btn-primary" value="submit">
             </form>
          </div>
      </div>
    </div>
 </div>
{% endblock %}